.list-group {
  display: none;
}
.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  /* z-index : 5; */
  z-index: 100;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.container-bg{
  background-color: #fff;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 
.show {
  display: block;
  visibility: visible;
  opacity: 1;
}

.slide-container {
  width: 300vw;
  /* transition: all 1s; */
}
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
} 
.carousel-btn-box {
  display: flex; /* Flexbox를 사용하여 수평 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  margin-top: 20px; /* 원하는 수직 간격 조정 */
}

.button-group {
  display: flex; /* Flexbox를 사용하여 수평 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  margin-top: 20px; /* 원하는 수직 간격 조정 */
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 0;
  margin: 0;
}
.navbar-brand {
  font-size: 30px;
  transition: all 0.1s;
}
.alert {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
.carousel {
  padding-top: 60px;
}
.gaugeBar {
  height: 2px;
  background-color: #000;
  transition: all 1s;
}

