ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: '';
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.orange {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}
.form-hide {
  display: none;
}
.select-size{
  margin-top: 20px;
}
.moreProducts-area {
  margin: 30px;
  text-align: center;
}
.filter-area {
  margin: 30px;
  text-align: center;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 0;
  margin: 0;
}
.navbar-brand {
  font-size: 30px;
}
/* 네비게이션 바의 position fixed 때문에 화면이 가려지는 문제를 해결하는 코드: padding top 주면 됨*/
.col-md-4 {
  padding-top: 65px;
}
/* 3번째 이미지이후는 패딩이 적용되지 않도록 하는 코드*/
.col-md-4:nth-child(n+4) {
  padding-top: 25px;
}
.nav-items {
  display: flex;
  align-items: center;
}